
img {
    width: 90%;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 70px;
}

h2 {
    text-align: center;
    margin-top: 25px ;
}

h4 {
    text-align: center;

}

#imageText {
    margin-top: 15px;
    color: darkblue;
    margin-left: 150px;
    display: inline-block;
    background-color: yellow;
    padding-top: 2px;
    padding-bottom: 15px ;
    padding-left: 15px;
    padding-right: 15px;
}





