.navbar {
    background-color: black;
    height: 80px;
    border: 5px solid red;
}

h3 {
    text-align: center;
}

#navbarNav {
    margin-left: 900px;
}

.nav-item {
    padding-left: 20px;

}

#myNameHead {
    padding-left: 15px;
    font-size: 23px;
}

#imagesLink {
    padding-left: 20px;
    font-size: 20px;
}


#homeLink {
    padding-left: 8px;
    font-size: 20px;

}

#topRightLinks {
    position: relative;
    left: 140%;
    font-size: 20px;
    
    
}